In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [17]:
xls = pd.ExcelFile('Personal Financial Example_Z.xlsx')
tax = np.array([1.0635,1.0635,1.0635,1.06625,1.06625,1.05,1.08875,1.13575,1.05,1.06,1.08,1.05])
portions = np.zeros([40,12])

wb = openpyxl.load_workbook('Personal Financial Example_Z.xlsx')
sheets = wb.get_sheet_names()

def tax_calculate (result): 
    tem_r = np.array(result['DA']['count']*result['DA']['mean'])
    return tem_r*tax

def consum_por (result): 
    portion = np.zeros([12])
    for i in range(0,len(result)):
        portion[i] = result[i]/sum(result)
    return portion

/Users/allen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).

In [3]:
xls = pd.ExcelFile('Personal Financial Example_Z.xlsx')

In [5]:
sheets = wb.get_sheet_names()
sheets

/Users/allen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Sheet1',
 'Sheet2',
 'Sheet3',
 'Sheet4',
 'Sheet5',
 'Sheet6',
 'Sheet7',
 'Sheet8',
 'Sheet9',
 'Sheet10',
 'Sheet11',
 'Sheet12',
 'Sheet13',
 'Sheet14',
 'Sheet15',
 'Sheet16',
 'Sheet17',
 'Sheet18',
 'Sheet19',
 'Sheet20',
 'Sheet21',
 'Sheet22',
 'Sheet23',
 'Sheet24',
 'Sheet25',
 'Sheet26',
 'Sheet27',
 'Sheet28',
 'Sheet29',
 'Sheet30',
 'Sheet31',
 'Sheet32',
 'Sheet33',
 'Sheet34',
 'Sheet35',
 'Sheet36',
 'Sheet37',
 'Sheet38',
 'Sheet39',
 'Sheet40']

In [11]:
for i in range(len(sheets)):
    df = pd.read_excel(xls,sheets[i])
    df = df[['TRANSNumber','TimeStamp','DA','Oper','CTR']]
    df = df.dropna()
    df['CTR_1'] = df['CTR'].str[0:2]
    df['CTR_2'] = df['CTR'].str[8:]
    df['DA'] = abs(df['DA'])
    
    tem1 = df.groupby(['CTR_1','CTR_2']).describe()
    tem2 = tax_calculate(tem1)
    tem3 = consum_por(tem2)
    portions[i,:] = tem3

In [20]:
tem1

                  TRANSNumber                                               \
                        count        mean         std   min     25%    50%
CTR_1 CTR_2
CT    Essencials         14.0  245.285714  150.457471  34.0  150.00  202.5
      Investment         16.0  282.562500  146.022358  10.0  196.50  293.5
      Superfluous        20.0  339.100000  183.504740  47.0  173.25  387.0
NJ    Essencials         28.0  288.428571  187.162917  11.0  141.00  280.0
      Investment         19.0  280.789474  136.796515  12.0  185.00  296.0
      Superfluous        23.0  314.304348  164.632493  28.0  197.00  371.0
NY    Essencials         17.0  293.352941  172.696606  75.0  172.00  244.0
      Investment         17.0  325.294118  184.205308  16.0  211.00  350.0
      Superfluous        19.0  305.631579  167.211181  20.0  202.50  286.0
PA    Essencials         14.0  272.500000  150.875777  68.0  154.00  255.5
      Investment         23.0  264.347826  167.887031   9.0  145.50  235.0
      Superfluous        18.0  292.500000  159.576738  54.0  206.50  246.5

                                    DA             ...                  Oper  \
                      75%    max count       mean  ...      75%    max count
CTR_1 CTR_2                                        ...
CT    Essencials   359.75  498.0  14.0  30.162857  ...  38.8175  60.84  14.0
      Investment   393.75  526.0  16.0  35.284375  ...  55.0700  65.95  16.0
      Superfluous  490.00  568.0  20.0  30.107000  ...  47.8575  69.21  20.0
NJ    Essencials   452.50  569.0  28.0  33.856071  ...  51.1425  69.22  28.0
      Investment   388.00  491.0  19.0  32.962105  ...  48.2850  68.30  19.0
      Superfluous  448.00  551.0  23.0  33.490435  ...  46.4100  68.68  23.0
NY    Essencials   410.00  554.0  17.0  37.996471  ...  54.5900  60.32  17.0
      Investment   468.00  556.0  17.0  36.475882  ...  51.0300  60.44  17.0
      Superfluous  440.00  559.0  19.0  34.098947  ...  54.4550  69.42  19.0
PA    Essencials   354.00  550.0  14.0  41.303571  ...  54.1900  66.54  14.0
      Investment   423.00  548.0  23.0  39.024348  ...  57.6400  69.34  23.0
      Superfluous  421.25  566.0  18.0  41.185556  ...  59.6800  69.21  18.0


                       mean       std  min  25%  50%  75%  max
CTR_1 CTR_2
CT    Essencials   3.428571  1.785165  1.0  1.5  4.0  5.0  5.0
      Investment   3.125000  1.707825  1.0  1.0  3.0  5.0  5.0
      Superfluous  3.300000  1.866604  1.0  1.0  4.0  5.0  5.0
NJ    Essencials   3.357143  1.725930  1.0  1.0  3.0  5.0  5.0
      Investment   3.000000  1.632993  1.0  1.0  3.0  5.0  5.0
      Superfluous  2.652174  1.668115  1.0  1.0  3.0  4.0  5.0
NY    Essencials   2.764706  1.714986  1.0  1.0  3.0  5.0  5.0
      Investment   2.647059  1.617914  1.0  1.0  3.0  3.0  5.0
      Superfluous  2.789474  1.750522  1.0  1.0  3.0  5.0  5.0
PA    Essencials   3.428571  1.603567  1.0  3.0  3.0  5.0  5.0
      Investment   2.652174  1.555305  1.0  1.0  3.0  3.0  5.0
      Superfluous  2.777778  1.664705  1.0  1.0  3.0  4.5  5.0

[12 rows x 24 columns]

In [45]:
portions

array([[0.12199063, 0.10059342, 0.09355621, 0.07170094, 0.0880922 ,
        0.06376635, 0.06085895, 0.06857466, 0.10038161, 0.09876176,
        0.05825376, 0.07346951],
       [0.07870277, 0.03886125, 0.08521121, 0.08428753, 0.0826867 ,
        0.11668086, 0.06822649, 0.06511444, 0.12490671, 0.09517594,
        0.07901034, 0.08113576],
       [0.08424644, 0.12752971, 0.07939366, 0.05029662, 0.09055113,
        0.08282579, 0.08021312, 0.08879986, 0.06082454, 0.09975568,
        0.08671802, 0.06884542],
       [0.08321493, 0.04514562, 0.04227564, 0.07159127, 0.10843942,
        0.05771716, 0.14463119, 0.08663592, 0.08362114, 0.14238311,
        0.07424537, 0.06009924],
       [0.07012874, 0.08758226, 0.0773394 , 0.10562699, 0.07193896,
        0.11615527, 0.06429418, 0.09645021, 0.08804167, 0.05402621,
        0.08296534, 0.08545077],
       [0.10033494, 0.06804593, 0.10624341, 0.05916557, 0.07045717,
        0.07010392, 0.10247881, 0.09666255, 0.06359423, 0.08595011,
        0.06581814, 0.11114521],
       [0.10570378, 0.08507164, 0.06090344, 0.04325075, 0.10542831,
        0.09172172, 0.06295975, 0.09024889, 0.07738729, 0.09073698,
        0.11173845, 0.074849  ],
       [0.14352785, 0.06560251, 0.08510914, 0.09469476, 0.11286676,
        0.07838471, 0.0614731 , 0.04465825, 0.08802077, 0.06171295,
        0.06511787, 0.09883134],
       [0.07672352, 0.0757489 , 0.07506642, 0.10996903, 0.09168295,
        0.07553014, 0.10691184, 0.08283437, 0.07648471, 0.08083841,
        0.09374186, 0.05446784],
       [0.07361122, 0.11954836, 0.05477192, 0.07991832, 0.08308393,
        0.09749729, 0.10368155, 0.08736131, 0.0645959 , 0.07831767,
        0.08680161, 0.07081092],
       [0.10854163, 0.07345168, 0.09378698, 0.07423833, 0.08906797,
        0.09118213, 0.08598254, 0.08275505, 0.08892191, 0.05360444,
        0.07311604, 0.08535129],
       [0.09761141, 0.09511475, 0.08998423, 0.05923529, 0.08220834,
        0.08149271, 0.09770094, 0.09932819, 0.06375006, 0.07692906,
        0.06503114, 0.09161388],
       [0.08047856, 0.0891909 , 0.09652013, 0.09637196, 0.08937477,
        0.0710474 , 0.0878944 , 0.09084206, 0.08031478, 0.08305447,
        0.07500944, 0.05990114],
       [0.08794914, 0.08451009, 0.07924369, 0.11327599, 0.07583241,
        0.08567098, 0.07515621, 0.0701646 , 0.10950161, 0.09285267,
        0.05714595, 0.06869667],
       [0.05664035, 0.09973923, 0.07774428, 0.09671838, 0.05580589,
        0.06584631, 0.12166585, 0.08517273, 0.07852799, 0.09146057,
        0.08251559, 0.08816284],
       [0.09623768, 0.03839499, 0.10524329, 0.13354715, 0.05628405,
        0.08513298, 0.06519515, 0.1229771 , 0.08635368, 0.08719681,
        0.07444224, 0.04899487],
       [0.05491898, 0.10985721, 0.08331674, 0.05470968, 0.07978188,
        0.10085452, 0.0752426 , 0.07658463, 0.08906752, 0.10953403,
        0.05629186, 0.10984035],
       [0.05211735, 0.12226453, 0.13790059, 0.08848992, 0.09125216,
        0.08016558, 0.07868935, 0.0926063 , 0.05179556, 0.08858099,
        0.08416747, 0.03197021],
       [0.06796014, 0.09996964, 0.0830304 , 0.09005115, 0.0757516 ,
        0.09462768, 0.05970596, 0.10712547, 0.06990354, 0.09129779,
        0.07099811, 0.08957853],
       [0.08157219, 0.10501028, 0.10996543, 0.08704054, 0.06710833,
        0.07626547, 0.08453359, 0.07883118, 0.08254386, 0.11038939,
        0.06982962, 0.04691011],
       [0.08001806, 0.05092911, 0.10529611, 0.10102677, 0.05766225,
        0.05188951, 0.09328573, 0.08509257, 0.11740335, 0.05947889,
        0.11367045, 0.0842472 ],
       [0.07123432, 0.07247714, 0.10459422, 0.08802258, 0.07031835,
        0.09040652, 0.09162438, 0.0788341 , 0.05492382, 0.14111239,
        0.06691035, 0.06954183],
       [0.05102083, 0.07672511, 0.09448614, 0.0591448 , 0.09196791,
        0.08193762, 0.08756438, 0.11607526, 0.0883451 , 0.07742291,
        0.10767581, 0.06763412],
       [0.0917067 , 0.08437447, 0.06539092, 0.08288475, 0.08609375,
        0.08746026, 0.06906886, 0.1094577 , 0.07814832, 0.06729872,
        0.10072706, 0.07738849],
       [0.0593584 , 0.05548249, 0.05808982, 0.08664216, 0.09281348,
        0.12806707, 0.09430496, 0.09144773, 0.08827456, 0.08884823,
        0.0905759 , 0.06609521],
       [0.09210139, 0.081441  , 0.05201246, 0.08066174, 0.07944505,
        0.09952342, 0.09472166, 0.09941277, 0.0898872 , 0.09661707,
        0.05573836, 0.07843788],
       [0.0920115 , 0.06320266, 0.10989051, 0.07485933, 0.08538174,
        0.05393832, 0.07875032, 0.0811636 , 0.07966962, 0.1015735 ,
        0.09415264, 0.08540627],
       [0.12058469, 0.09004144, 0.04694451, 0.04936008, 0.09532191,
        0.05983127, 0.04932109, 0.08199493, 0.09352474, 0.08333506,
        0.11512769, 0.11461259],
       [0.09911037, 0.10050292, 0.0565955 , 0.0627301 , 0.09708799,
        0.09606327, 0.08048311, 0.06495524, 0.0805865 , 0.09528758,
        0.09046655, 0.07613089],
       [0.06173901, 0.09339955, 0.06539122, 0.07472301, 0.11845726,
        0.07796504, 0.0969829 , 0.08253383, 0.09503786, 0.08975819,
        0.10766302, 0.03634911],
       [0.06336727, 0.07938722, 0.05561355, 0.10359147, 0.08666338,
        0.06167124, 0.08750402, 0.09579178, 0.09158103, 0.09299229,
        0.08315785, 0.0986789 ],
       [0.08009964, 0.10263323, 0.08179735, 0.08241437, 0.08540255,
        0.07827815, 0.08725155, 0.10411741, 0.06187501, 0.07873263,
        0.08350054, 0.07389757],
       [0.09133229, 0.07522962, 0.07961328, 0.07291494, 0.09618743,
        0.08196908, 0.08937731, 0.09781085, 0.09269011, 0.07419154,
        0.06752587, 0.08115768],
       [0.09887849, 0.10885312, 0.06919345, 0.07978434, 0.08736066,
        0.05449945, 0.07725906, 0.07882624, 0.09532125, 0.08957388,
        0.07774383, 0.08270622],
       [0.07654868, 0.07326622, 0.07071294, 0.11138396, 0.03850076,
        0.08497482, 0.12598631, 0.08167205, 0.06232393, 0.10169171,
        0.08822779, 0.08471084],
       [0.07496921, 0.10895863, 0.0892453 , 0.08750406, 0.0843872 ,
        0.06335756, 0.09017208, 0.09575894, 0.03909628, 0.09195973,
        0.10239847, 0.07219254],
       [0.11159374, 0.06813533, 0.07938582, 0.05492242, 0.0696477 ,
        0.07914526, 0.05980619, 0.05867787, 0.10902448, 0.08275798,
        0.1112676 , 0.1156356 ],
       [0.08572926, 0.08608702, 0.09147253, 0.0839913 , 0.08337127,
        0.09987373, 0.07410608, 0.06581799, 0.10883199, 0.06248923,
        0.05078529, 0.10744431],
       [0.0902678 , 0.10417789, 0.08525678, 0.06869464, 0.07339183,
        0.08596728, 0.09202442, 0.06957072, 0.08912458, 0.1049259 ,
        0.06674537, 0.06985281],
       [0.05206454, 0.06960556, 0.07424017, 0.11718112, 0.07741615,
        0.09376525, 0.0815313 , 0.08164723, 0.07886565, 0.07106005,
        0.11238057, 0.09024242]])

In [29]:
from sklearn.cluster import KMeans
kmeans_q1 = KMeans(n_clusters=5, random_state=1).fit(portions)
kmeans_q1.labels_

array([3, 3, 1, 4, 2, 3, 1, 3, 2, 1, 3, 1, 0, 2, 2, 0, 1, 0, 0, 0, 3, 0,
       0, 1, 2, 1, 3, 1, 1, 1, 2, 0, 3, 1, 2, 0, 3, 3, 1, 2], dtype=int32)

In [30]:
classification = kmeans_q1.labels_.reshape(40,1)
tem = np.hstack((portions,classification))
class1 = pd.DataFrame(tem)
class_des = class1.groupby([12]).describe()
class_essen = sum([class_des[0]['mean'],class_des[3]['mean'],class_des[6]['mean'],class_des[9]['mean']])
class_invest = sum([class_des[1]['mean'],class_des[4]['mean'],class_des[7]['mean'],class_des[10]['mean']])
class_super = sum([class_des[3]['mean'],class_des[5]['mean'],class_des[8]['mean'],class_des[11]['mean']])
class_indicate = pd.DataFrame([class_essen,class_invest,class_super])
class_indicate

12         0.0       1.0       2.0       3.0       4.0
mean  0.338962  0.326538  0.352287  0.333563  0.441820
mean  0.349952  0.360666  0.323983  0.305061  0.314466
mean  0.301064  0.310887  0.358272  0.345600  0.273029

In [31]:
q1_ind_0 = list(class_indicate[0.0])[0]*0.25+list(class_indicate[0.0])[1]*0.25+list(class_indicate[0.0])[2]*0.50
q1_ind_1 = list(class_indicate[1.0])[0]*0.25+list(class_indicate[1.0])[1]*0.25+list(class_indicate[1.0])[2]*0.50
q1_ind_2 = list(class_indicate[2.0])[0]*0.25+list(class_indicate[2.0])[1]*0.25+list(class_indicate[2.0])[2]*0.50
q1_ind_3 = list(class_indicate[3.0])[0]*0.25+list(class_indicate[3.0])[1]*0.25+list(class_indicate[3.0])[2]*0.50
q1_ind_4 = list(class_indicate[4.0])[0]*0.25+list(class_indicate[4.0])[1]*0.25+list(class_indicate[4.0])[2]*0.50
q1_ind = list([q1_ind_0,q1_ind_1,q1_ind_2,q1_ind_3,q1_ind_4])
print(q1_ind)

[0.3227606028694785, 0.3272445652420564, 0.3482036147725572, 0.3324560351298912, 0.3255861072707298]

In [32]:
kmeans_q2 = KMeans(n_clusters=5, random_state=2).fit(portions)
kmeans_q2.labels_

array([1, 1, 0, 4, 3, 1, 2, 1, 3, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 3, 0, 1, 2, 0, 0, 3, 0, 1, 0, 3, 0, 2, 1, 0, 3], dtype=int32)

In [33]:
classification = kmeans_q2.labels_.reshape(40,1)
tem = np.hstack((portions,classification))
class2 = pd.DataFrame(tem)
class_des_q2 = class2.groupby([12]).describe()
class_essen_q2 = sum([class_des_q2[0]['mean'],class_des_q2[3]['mean'],class_des_q2[6]['mean'],class_des_q2[9]['mean']])
class_invest_q2 = sum([class_des_q2[1]['mean'],class_des_q2[4]['mean'],class_des_q2[7]['mean'],class_des_q2[10]['mean']])
class_super_q2 = sum([class_des_q2[3]['mean'],class_des_q2[5]['mean'],class_des_q2[8]['mean'],class_des_q2[11]['mean']])
class_indicate_q2 = pd.DataFrame([class_essen_q2,class_invest_q2,class_super_q2])
class_indicate_q2

12         0.0       1.0       2.0       3.0       4.0
mean  0.332316  0.343451  0.304778  0.349866  0.441820
mean  0.356138  0.302057  0.360901  0.329173  0.314466
mean  0.304536  0.348041  0.321088  0.355576  0.273029

In [34]:
q2_ind_0 = list(class_indicate[0.0])[0]*0.5+list(class_indicate[0.0])[1]*0.25+list(class_indicate[0.0])[2]*0.25
q2_ind_1 = list(class_indicate[1.0])[0]*0.5+list(class_indicate[1.0])[1]*0.25+list(class_indicate[1.0])[2]*0.25
q2_ind_2 = list(class_indicate[2.0])[0]*0.5+list(class_indicate[2.0])[1]*0.25+list(class_indicate[2.0])[2]*0.25
q2_ind_3 = list(class_indicate[3.0])[0]*0.5+list(class_indicate[3.0])[1]*0.25+list(class_indicate[3.0])[2]*0.25
q2_ind_4 = list(class_indicate[4.0])[0]*0.5+list(class_indicate[4.0])[1]*0.25+list(class_indicate[4.0])[2]*0.25
q2_ind = list([q2_ind_0,q2_ind_1,q2_ind_2,q2_ind_3,q2_ind_4])
print(q2_ind)

[0.33223494635952466, 0.33115735335298685, 0.3467072927196897, 0.3294465774880664, 0.3677840307566506]

In [35]:
kmeans_q3 = KMeans(n_clusters=5, random_state=3).fit(portions)
kmeans_q3.labels_

array([0, 0, 2, 4, 3, 1, 2, 0, 1, 3, 0, 1, 1, 0, 3, 1, 3, 1, 3, 1, 1, 1,
       1, 2, 3, 3, 1, 2, 2, 1, 3, 1, 1, 2, 3, 1, 2, 0, 1, 3], dtype=int32)

In [36]:
classification = kmeans_q3.labels_.reshape(40,1)
tem = np.hstack((portions,classification))
class3 = pd.DataFrame(tem)
class_des_q3 = class3.groupby([12]).describe()
class_essen_q3 = sum([class_des_q3[0]['mean'],class_des_q3[3]['mean'],class_des_q3[6]['mean'],class_des_q3[9]['mean']])
class_invest_q3 = sum([class_des_q3[1]['mean'],class_des_q3[4]['mean'],class_des_q3[7]['mean'],class_des_q3[10]['mean']])
class_super_q3 = sum([class_des_q3[3]['mean'],class_des_q3[5]['mean'],class_des_q3[8]['mean'],class_des_q3[11]['mean']])
class_indicate_q3 = pd.DataFrame([class_essen_q3,class_invest_q3,class_super_q3])
class_indicate_q3

12         0.0       1.0       2.0       3.0       4.0
mean  0.339838  0.342714  0.317559  0.337767  0.441820
mean  0.293590  0.341647  0.366107  0.332940  0.314466
mean  0.365540  0.303554  0.311394  0.353255  0.273029

In [37]:
q3_ind_0 = list(class_indicate[0.0])[0]*0.25+list(class_indicate[0.0])[1]*0.5+list(class_indicate[0.0])[2]*0.25
q3_ind_1 = list(class_indicate[1.0])[0]*0.25+list(class_indicate[1.0])[1]*0.5+list(class_indicate[1.0])[2]*0.25
q3_ind_2 = list(class_indicate[2.0])[0]*0.25+list(class_indicate[2.0])[1]*0.5+list(class_indicate[2.0])[2]*0.25
q3_ind_3 = list(class_indicate[3.0])[0]*0.25+list(class_indicate[3.0])[1]*0.5+list(class_indicate[3.0])[2]*0.25
q3_ind_4 = list(class_indicate[4.0])[0]*0.25+list(class_indicate[4.0])[1]*0.5+list(class_indicate[4.0])[2]*0.25
q3_ind = list([q3_ind_0,q3_ind_1,q3_ind_2,q3_ind_3,q3_ind_4])
print(q3_ind)

[0.3349826367688622, 0.3396892892673923, 0.3396314474103155, 0.3223210560677171, 0.3359454875993643]

In [38]:
q1_answers=['E','A','D','C','B']
q2_answers=['A','D','C','E','B']
q3_answers=['A','E','D','B','C']

In [39]:
answers = np.ones((40,3)) 
answers = answers.astype(np.str)
for i in range(0,40):
    for j in range(0,5):
        if kmeans_q1.labels_[i] == j:
            answers[i,0] = q1_answers[j]
        if kmeans_q2.labels_[i] == j:
            answers[i,1] = q2_answers[j]
        if kmeans_q3.labels_[i] == j:
            answers[i,2] = q1_answers[j]
answers =pd.DataFrame(answers)

In [40]:
answers.to_excel('Original Answers.xlsx')

In [41]:
answers

    0  1  2
0   C  D  E
1   C  D  E
2   A  A  D
3   B  B  B
4   D  E  C
5   C  D  A
6   A  C  D
7   C  D  E
8   D  E  A
9   A  A  C
10  C  D  E
11  A  A  A
12  E  A  A
13  D  D  E
14  D  E  C
15  E  D  A
16  A  A  C
17  E  A  A
18  E  A  C
19  E  A  A
20  C  D  A
21  E  A  A
22  E  A  A
23  A  A  D
24  D  E  C
25  A  A  C
26  C  D  A
27  A  C  D
28  A  A  D
29  A  A  A
30  D  E  C
31  E  A  A
32  C  D  A
33  A  A  D
34  D  E  C
35  E  A  A
36  C  C  D
37  C  D  E
38  A  A  A
39  D  E  C